RewriteEngine on
RewriteCond %{HTTP_HOST} ^uwvoordeelpas.kamranali.online$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.uwvoordeelpas.kamranali.online$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]